<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- AppSettings.config is excluded from Git because it contains my PdfCrowd Username and ApiKey -->
	<!-- Recreate the file at your end before running tests. It should look like this:
	
	```
	<?xml version="1.0"?>

	<appSettings>
		<add key="pdfCrowdUserName" value="myusername"/>
		<add key="pdfCrowdApiKey" value="12345"/>
	</appSettings>
	```
	
	-->
	<appSettings configSource="AppSettings.config" />

	<!-- http://mikehadlow.blogspot.com/2012/07/tracing-systemnet-to-debug-http-clients.html -->
	<system.diagnostics>

		<trace autoflush="true"/>

		<sources>
			<source name="System.Net"> <!-- maxdatasize="1024"> -->
				<listeners>
					<add name="MyTraceFile"/>
					<add name="MyConsole"/>
				</listeners>
			</source>
		</sources>

		<sharedListeners>
			<add name="MyTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="System.Net.trace.log"/>
			<add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener"/>
		</sharedListeners>

		<switches>
			<!--<add name="System.Net" value="Information" />-->
			<!-- Use "verbose" to see raw HTTP bodies. -->
			<add name="System.Net" value="Verbose"/>
			
		</switches>

	</system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
